<header>Netsuhe Bekele</header>

<h6>"Be your own kind of Beauty!"</h6>

<!-- <header>
  <nav>
  <div class="menu">
    <ul>
      <a href="/works"><li>PORTFOLIO</li></a>
      <a href="/tags"><li>PRICES</li></a>
      <a href="/comments"><li>CONTACTS US</li></a>
    </ul>
  </div>
</nav>
</header> -->
