<h1>Netsuhe Bekele</h1>
<p>"Be your own kind of Beauty!"</p>

<header>
  <div class="menu">
    <ul>
      <a href="/works"><li>PORTFOLIO</li></a>
      <a href="/tags"><li>PRICES</li></a>
    </ul>
  </div>
</header>
