<header>SERVICES</header>
<!-- The services will be represented by the tag class  -->

<h2>Bridal Makeup</h2>
<ol>
<li>Bride only(lashes included) $175</li>
<li>Bride only for half day starting at $400</li>
<li>Bride only for full day please contact us for pricing</li>
<li>Bridesmaids up to 4, each $75</li>
<li>Bridesmaids of more than 4, please contact us for pricing</li>
</ol>

<h2>Special Events</h2>
<ol>
<li>Birthdays(lashes included)  $75</li>
<li>Blacktie Events(lashes included) $75</li>
<li>Special Functions(lashes included) $75</li>
<li>For any other specific needs please contact us for pricing.</li>
</ol>

<h2>Special FX</h2>

<ol>
<li>All starting at $100</li>
</ol>

<p>Please contact us for further details and pricing.</p>
