<!DOCTYPE html>
<html>
  <head>
    <title>NetsuheBekele</title>
    <%= csrf_meta_tags %>
<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Libre+Barcode+39+Text|Lobster" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Netsuhe Bekele</h1>
    <p>"Be your own kind of Beauty!"</p>

    <h2><a href="/works">Porfolio</a></h2>
    <h2><a href="/tags">Prices</a></h2>

    <%= yield %>
  </body>
</html>
