<!DOCTYPE html>
<html>
  <head>
    <title>NetsuheBekele</title>
    <%= csrf_meta_tags %>
<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Libre+Barcode+39+Text|Lobster" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>est. 2017 &hearts;</footer>
</html>
